/*
Imagen Portfolio de Inspiracion

https://www.behance.net/gallery/113452517/Industrial-product-design-portfolio?tracking_source=search_projects%7Cportfolio

*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');


*{
    margin:0;
    padding:0
}

:root{
    --black: #000000;
    --white: #ffffff;
    --grey: #929191;
}

.hero-img>img{
    width:40vh;
    transform: scaleX(-1);
    border-radius:5px
}

body{
    color: var(--white);
    background-color: var(--black);
}

header{
    height: 100vh;
}
.quote{
    height: 80vh;
    width:600px;
    padding-left: 80px;
    padding-top:120px;
    font-size:1.8em
}

h3{
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size:0.9em;
}
h4{
    font-weight: 200;
    font-family: 'Assistant', sans-serif;
    color:var(--grey);
    font-size:0.75em;
}

.quote>h4{
    font-size:0.7em;
}

header>h1{
    /* height:70vh; */
    padding: 80px 0px 300px 80px;
    font-size:8em;
}

header>div{
    font-size:1.7em;
    padding-left:80px;
}

.bi.bi-chevron-compact-down{
    display:block;
    text-align: center;
    padding-top:10px;
    font-size:1.5em;
}

/*CSS del INDEX*/

.index{
    display:flex;
    justify-content: space-evenly;
    height: 75vh;
}
.card, .card-01{
    display: flex;
    align-items: center;
    width:200px;
    height:200px;
}

.card-01-container{
    padding-left: 80px;
    display:flex;
    height: 400px;
    align-items:stretch
}

.card-01{
    display:flex;
}

.card>h2, .card-01>h2{
    font-size:4em;
}

.index-cards{
    width:700px;
    display:flex;
    flex-wrap:wrap;
}

.sect{
    font-size: 2em;
    padding-left: 80px;
}

.card>div>p, .card-01>div>p{
    font-size:0.8em;
    padding-bottom:10px;
    padding-left:20px;
}

.p-grey{
    color:var(--grey);
}

/* HERO */


.hero-main{
    display:flex;
    justify-content: left;
    padding-left: 80px;
}

.hero-info{
    width:50%
}

.hero-header{
    display:flex;
    justify-content: space-between;
    padding-right: 80px;
}

.hero-img{
    padding-left: 180px;
}